<% form_tag indivs_path, :method => 'get', :id => "indivs_search" do %>
	<%= hidden_field_tag :direction, params[:direction] %>  
	<%= hidden_field_tag :sort, params[:sort] %>
	<p>
		<%= text_field_tag :search, params[:search], :id => "search_bar"%>
		<input type = "submit" value="Search" class="button_black">
	</p>
<% end %>